@tailwind base;
@tailwind components;
@tailwind utilities;

/* Тема хувьсагчид */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #000000;
  }
}

/* Ердийн стилүүд */
body {
  /* Tailwind-ээр хувьсагчийг ашиглах */
  @apply bg-[var(--background)] text-[var(--foreground)];
  font-family: var(--font-geist-sans, Arial), Helvetica, sans-serif;
}

/* Tailwind-ийн давхарга */
@layer base {
  input::placeholder,
  textarea::placeholder {
    @apply text-gray-400; /* v3 дээр var(--color-gray-400) байхгүй */
  }
}
